!!!
%head
  %title Northwest Marches
  %meta{name: 'viewport', content: 'width=device-width'}
  %link{rel: 'stylesheet', type: 'text/css', href: '5e-styles/5e.css'}
%body
  %main
    %section.cover{style: 'background-color:#0f3d0c;'}
      %h1 Northwest Marches
    %section
      %h2 Welcome to Skarvost
      %p
